body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image:url(sabr.jpg);
    background-size: cover;
    background-position: center;
}
.sign-up
{
    width: 380px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background:#fff;
    padding: 30px;
    margin:8% auto 0;
    text-align: center;
}
.singup{
    font-family:sans-serif;
    color:cyan;
}
.sign-up h1
{
    color:#1c8adb;
    margin-bottom: 30px;
}
.input-box1{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.input-box2{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.input-box3{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.input-box4{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
button{
    color: #fff;
    width: 100%;
    padding:10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;

}
.signbtn{
    background-color:#1c8adb ;
}
a{
    text-decoration: none;
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    background: #fff;
    width: 30px;
    margin:-19px auto ;
}
img{
    width: 60px;
    margin-top: -50px;
}
.dyhaa{
    font-family: sans-serif;
    font-size: small;
}